# Name: Harsh Siddhapura
# ASU ID: 1230169813

# Part I

Follow the instructions from class for this part.

1. Download the US Census Income Dataset:
    - https://archive.ics.uci.edu/ml/datasets/census+income
2. Write a python script that:
    - Removes all rows that contain missing values. These are represented as ' ?' (Notice the white space preceding the question mark).
    - Transforms the categorical & ordinal attributes based on the discussed materials.

In [121]:
import pandas as pd

df = pd.read_csv('adult.data', header=None)
print(df)

       0                  1       2            3   4                    5   \
0      39          State-gov   77516    Bachelors  13        Never-married
1      50   Self-emp-not-inc   83311    Bachelors  13   Married-civ-spouse
2      38            Private  215646      HS-grad   9             Divorced
3      53            Private  234721         11th   7   Married-civ-spouse
4      28            Private  338409    Bachelors  13   Married-civ-spouse
...    ..                ...     ...          ...  ..                  ...
32556  27            Private  257302   Assoc-acdm  12   Married-civ-spouse
32557  40            Private  154374      HS-grad   9   Married-civ-spouse
32558  58            Private  151910      HS-grad   9              Widowed
32559  22            Private  201490      HS-grad   9        Never-married
32560  52       Self-emp-inc  287927      HS-grad   9   Married-civ-spouse

                       6               7       8        9      10  11  12  \
0            Adm-clerical   Not-in-family   White     Male   2174   0  40
1         Exec-managerial         Husband   White     Male      0   0  13
2       Handlers-cleaners   Not-in-family   White     Male      0   0  40
3       Handlers-cleaners         Husband   Black     Male      0   0  40
4          Prof-specialty            Wife   Black   Female      0   0  40
...                   ...             ...     ...      ...    ...  ..  ..
32556        Tech-support            Wife   White   Female      0   0  38
32557   Machine-op-inspct         Husband   White     Male      0   0  40
32558        Adm-clerical       Unmarried   White   Female      0   0  40
32559        Adm-clerical       Own-child   White     Male      0   0  20
32560     Exec-managerial            Wife   White   Female  15024   0  40

                   13      14
0       United-States   <=50K
1       United-States   <=50K
2       United-States   <=50K
3       United-States   <=50K
4                Cuba   <=50K
...               ...     ...
32556   United-States   <=50K
32557   United-States    >50K
32558   United-States   <=50K
32559   United-States   <=50K
32560   United-States    >50K

[32561 rows x 15 columns]

In [122]:
# Our first task is to remove the missing values from the dataset

# Row
totalMissedRow = df.isin([' ?']).sum(axis=1).value_counts()
print(f'\nTotal number of missing values in row : \n{totalMissedRow}')

# Column
totalMissedColumn = df.isin([' ?']).sum(axis=0).value_counts()
print(f'\nTotal number of missing values in column : \n{totalMissedColumn}')

# Identify rows with missing values as ' ?' and drop them
df = df.replace(' ?', pd.NA).dropna()
print(df)

Total number of missing values in row :
0    30162
2     1809
1      563
3       27
Name: count, dtype: int64

Total number of missing values in column :
0       12
1836     1
1843     1
583      1
Name: count, dtype: int64
       0                  1       2            3   4                    5   \
0      39          State-gov   77516    Bachelors  13        Never-married
1      50   Self-emp-not-inc   83311    Bachelors  13   Married-civ-spouse
2      38            Private  215646      HS-grad   9             Divorced
3      53            Private  234721         11th   7   Married-civ-spouse
4      28            Private  338409    Bachelors  13   Married-civ-spouse
...    ..                ...     ...          ...  ..                  ...
32556  27            Private  257302   Assoc-acdm  12   Married-civ-spouse
32557  40            Private  154374      HS-grad   9   Married-civ-spouse
32558  58            Private  151910      HS-grad   9              Widowed
32559  22            Private  201490      HS-grad   9        Never-married
32560  52       Self-emp-inc  287927      HS-grad   9   Married-civ-spouse

                       6               7       8        9      10  11  12  \
0            Adm-clerical   Not-in-family   White     Male   2174   0  40
1         Exec-managerial         Husband   White     Male      0   0  13
2       Handlers-cleaners   Not-in-family   White     Male      0   0  40
3       Handlers-cleaners         Husband   Black     Male      0   0  40
4          Prof-specialty            Wife   Black   Female      0   0  40
...                   ...             ...     ...      ...    ...  ..  ..
32556        Tech-support            Wife   White   Female      0   0  38
32557   Machine-op-inspct         Husband   White     Male      0   0  40
32558        Adm-clerical       Unmarried   White   Female      0   0  40
32559        Adm-clerical       Own-child   White     Male      0   0  20
32560     Exec-managerial            Wife   White   Female  15024   0  40

                   13      14
0       United-States   <=50K
1       United-States   <=50K
2       United-States   <=50K
3       United-States   <=50K
4                Cuba   <=50K
...               ...     ...
32556   United-States   <=50K
32557   United-States    >50K
32558   United-States   <=50K
32559   United-States   <=50K
32560   United-States    >50K

[30162 rows x 15 columns]

Our next task is to identify the datatype of each columns.

Categorical: 1, 5, 6, 7, 8, 9, 13
Ordinal: 3, 14
Interval:
Ratio: 0, 2 ,4, 10, 11, 12

In [123]:
# Transformation

# Step - 1: Transform Ratio Attributes - Create a new data frame and initialize it with the Ratio attribute

dfNew = df[[0, 2 ,4, 10, 11, 12]]
print(dfNew)

       0       2   4      10  11  12
0      39   77516  13   2174   0  40
1      50   83311  13      0   0  13
2      38  215646   9      0   0  40
3      53  234721   7      0   0  40
4      28  338409  13      0   0  40
...    ..     ...  ..    ...  ..  ..
32556  27  257302  12      0   0  38
32557  40  154374   9      0   0  40
32558  58  151910   9      0   0  40
32559  22  201490   9      0   0  20
32560  52  287927   9  15024   0  40

[30162 rows x 6 columns]

In [124]:
# Step - 2: Transform Categorical Attributes - Create dummies(0,1) and add to new data frame
categories = [1, 5, 6, 7, 8, 9, 13]
for cat in categories:
    dummy = pd.get_dummies(df[cat], dtype=int)
    # Concat both dataframes
    dfNew = pd.concat([dfNew, dummy], axis=1)

print(dfNew)

        0       2   4     10  11  12   Federal-gov   Local-gov   Private  \
0      39   77516  13   2174   0  40             0           0         0
1      50   83311  13      0   0  13             0           0         0
2      38  215646   9      0   0  40             0           0         1
3      53  234721   7      0   0  40             0           0         1
4      28  338409  13      0   0  40             0           0         1
...    ..     ...  ..    ...  ..  ..           ...         ...       ...
32556  27  257302  12      0   0  38             0           0         1
32557  40  154374   9      0   0  40             0           0         1
32558  58  151910   9      0   0  40             0           0         1
32559  22  201490   9      0   0  20             0           0         1
32560  52  287927   9  15024   0  40             0           0         0

        Self-emp-inc  ...   Portugal   Puerto-Rico   Scotland   South  \
0                  0  ...          0             0          0       0
1                  0  ...          0             0          0       0
2                  0  ...          0             0          0       0
3                  0  ...          0             0          0       0
4                  0  ...          0             0          0       0
...              ...  ...        ...           ...        ...     ...
32556              0  ...          0             0          0       0
32557              0  ...          0             0          0       0
32558              0  ...          0             0          0       0
32559              0  ...          0             0          0       0
32560              1  ...          0             0          0       0

        Taiwan   Thailand   Trinadad&Tobago   United-States   Vietnam  \
0            0          0                 0               1         0
1            0          0                 0               1         0
2            0          0                 0               1         0
3            0          0                 0               1         0
4            0          0                 0               0         0
...        ...        ...               ...             ...       ...
32556        0          0                 0               1         0
32557        0          0                 0               1         0
32558        0          0                 0               1         0
32559        0          0                 0               1         0
32560        0          0                 0               1         0

        Yugoslavia
0                0
1                0
2                0
3                0
4                0
...            ...
32556            0
32557            0
32558            0
32559            0
32560            0

[30162 rows x 88 columns]

In [125]:
# Step - 3: Transform Ordinal Attributes

# Get unique items
educationCol = df[3].unique().tolist()
print(f'Unique items of Education Column: \n{educationCol}')

# Create dictionary for this column
educationDict = {
    ' Preschool': 1,
    ' 1st-4th': 2,
    ' 5th-6th': 3,
    ' 7th-8th': 4,
    ' 9th': 5,
    ' 10th': 6,
    ' 11th': 7,
    ' 12th': 8,
    ' HS-grad': 9,
    ' Some-college': 10,
    ' Assoc-acdm': 11,       # Lossy Transformatiob
    ' Assoc-voc': 11,
    ' Bachelors': 12,
    ' Masters': 13,
    ' Prof-school': 14,
    ' Doctorate': 15,
}

# Create new column in new dataframe and add this column
dfNew['education'] = df[3].map(educationDict)
print(dfNew)

Unique items of Education Column:
[' Bachelors', ' HS-grad', ' 11th', ' Masters', ' 9th', ' Some-college', ' Assoc-acdm', ' 7th-8th', ' Doctorate', ' Assoc-voc', ' Prof-school', ' 5th-6th', ' 10th', ' Preschool', ' 12th', ' 1st-4th']
        0       2   4     10  11  12   Federal-gov   Local-gov   Private  \
0      39   77516  13   2174   0  40             0           0         0
1      50   83311  13      0   0  13             0           0         0
2      38  215646   9      0   0  40             0           0         1
3      53  234721   7      0   0  40             0           0         1
4      28  338409  13      0   0  40             0           0         1
...    ..     ...  ..    ...  ..  ..           ...         ...       ...
32556  27  257302  12      0   0  38             0           0         1
32557  40  154374   9      0   0  40             0           0         1
32558  58  151910   9      0   0  40             0           0         1
32559  22  201490   9      0   0  20             0           0         1
32560  52  287927   9  15024   0  40             0           0         0

        Self-emp-inc  ...   Puerto-Rico   Scotland   South   Taiwan  \
0                  0  ...             0          0       0        0
1                  0  ...             0          0       0        0
2                  0  ...             0          0       0        0
3                  0  ...             0          0       0        0
4                  0  ...             0          0       0        0
...              ...  ...           ...        ...     ...      ...
32556              0  ...             0          0       0        0
32557              0  ...             0          0       0        0
32558              0  ...             0          0       0        0
32559              0  ...             0          0       0        0
32560              1  ...             0          0       0        0

        Thailand   Trinadad&Tobago   United-States   Vietnam   Yugoslavia  \
0              0                 0               1         0            0
1              0                 0               1         0            0
2              0                 0               1         0            0
3              0                 0               1         0            0
4              0                 0               0         0            0
...          ...               ...             ...       ...          ...
32556          0                 0               1         0            0
32557          0                 0               1         0            0
32558          0                 0               1         0            0
32559          0                 0               1         0            0
32560          0                 0               1         0            0

       education
0             12
1             12
2              9
3              7
4             12
...          ...
32556         11
32557          9
32558          9
32559          9
32560          9

[30162 rows x 89 columns]

In [126]:
incomeCol = df[14].unique().tolist()
print(incomeCol)

incomeDict = {
    ' <=50K': 0,
    ' >50K': 1
}

dfNew['income'] = df[14].map(incomeDict)
print(dfNew)

[' <=50K', ' >50K']
        0       2   4     10  11  12   Federal-gov   Local-gov   Private  \
0      39   77516  13   2174   0  40             0           0         0
1      50   83311  13      0   0  13             0           0         0
2      38  215646   9      0   0  40             0           0         1
3      53  234721   7      0   0  40             0           0         1
4      28  338409  13      0   0  40             0           0         1
...    ..     ...  ..    ...  ..  ..           ...         ...       ...
32556  27  257302  12      0   0  38             0           0         1
32557  40  154374   9      0   0  40             0           0         1
32558  58  151910   9      0   0  40             0           0         1
32559  22  201490   9      0   0  20             0           0         1
32560  52  287927   9  15024   0  40             0           0         0

        Self-emp-inc  ...   Scotland   South   Taiwan   Thailand  \
0                  0  ...          0       0        0          0
1                  0  ...          0       0        0          0
2                  0  ...          0       0        0          0
3                  0  ...          0       0        0          0
4                  0  ...          0       0        0          0
...              ...  ...        ...     ...      ...        ...
32556              0  ...          0       0        0          0
32557              0  ...          0       0        0          0
32558              0  ...          0       0        0          0
32559              0  ...          0       0        0          0
32560              1  ...          0       0        0          0

        Trinadad&Tobago   United-States   Vietnam   Yugoslavia  education  \
0                     0               1         0            0         12
1                     0               1         0            0         12
2                     0               1         0            0          9
3                     0               1         0            0          7
4                     0               0         0            0         12
...                 ...             ...       ...          ...        ...
32556                 0               1         0            0         11
32557                 0               1         0            0          9
32558                 0               1         0            0          9
32559                 0               1         0            0          9
32560                 0               1         0            0          9

       income
0           0
1           0
2           0
3           0
4           0
...       ...
32556       0
32557       1
32558       0
32559       0
32560       1

[30162 rows x 90 columns]

# Part II

Write a python script that cleans and transforms the Google Play Store Dataset. 

1. Dataset file can be downloaded here:
    - https://www.kaggle.com/lava18/google-play-store-apps
    - Use the file googleplaystore.csv 

2. After you load the dataset into a dataframe, call it d, You MUST drop rows that have missing values because they will cause you further errors if you don't do so. You can remove all rows with missing values by using this command:
    - d = d.dropna()

3. Once you remove missing values, you are now ready to transform the dataset as follows:
    - For categorical attributes, use get_dummies() to transform them.
    - For ordinal attributes, define a dictionary that maps the ordinal values to integers, starting at 1.
 

4. Below are instructions on each attribute. For each attribute, you can find its type as well as some necessary cleaning that needs to be performed as part of the transformation process.  
    - App: Drop this attribute, it counts as an ID number, not useful for analysis
    - Category : Categorical
    - Rating: Ratio
    - Reviews: Ratio
    - Size: Ratio
        - Remove the M letter at the end indicating Megabytes. This can be performed by creating a new column that does not contain the M. Use the str.replace() function for removing the M. Then drop the original column, and add the new one without the M as follows:
        - d['Size'] = d['Size'].str.replace('M','')
        - Some size takes the value 'Varies with device'. Replace this with a zero or an empty string. Use the same command above.
    - Installs: Ratio
        - Remove the + sign from the end of each value. This can be done similar to how the Size was fixed. 
        - Remove the commas "," from the numeric values. This can also be dome similar to how the Size was fixed.
    - Type: Categorical   
    - Price: Ratio
    - Content Rating: Categorical    
    - Genres: Categorical
    - Last Updated: Interval
        - To convert this date into a number of days, the first date must be converted to 0, then the next dates must be converted to the number of days from day 0.
        - This column is read as a string.
            - First, convert it to a datetime data type
            - Then subtract the min date from it
            - This can be done using the datetime library's utility functions as follows:
                - import datetime as dt
                - d['Last Updated'] = pd.to_datetime( d['Last Updated']) - dt.datetime(2010,5,21)
            - Notice that the pd.to_datetime() function converst that column into datetime
            - Also, the subtraction operation subtracts 5/21/2010, which is the min date in this column.
            - To find the min date, use:
                - pd.to_datetime( d['Last Updated']).min()
            - Notice that the transformed column has the type "datetime", and it takes the format "xxx days". For example, if a date is 234 days away from day 0, it will be transformed into "234 days". To complete the transformation process, you need to transform this into an integer by extracting the days. This can be done by writing
                - d['Last Updated'].dt.days
                - this way you use the "datetime" datatype to access the number of days, which is an integer value.
    - Current Ver: Categorical
    - Android Ver: Ordinal
        - Get all unique android versions, then create a dictionary that maps each version to a number. You can map the "Varies with device" value to 0.

In [127]:
import pandas as pd

d = pd.read_csv('googleplaystore.csv', header=0)
d

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [128]:
print(d.isnull().sum())

App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64

In [129]:
d = d.dropna()
d.isnull().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              0
Price             0
Content Rating    0
Genres            0
Last Updated      0
Current Ver       0
Android Ver       0
dtype: int64

In [130]:
d = d.copy()  # Create a copy of the DataFrame
d.drop(['App'], axis=1, inplace=True)
d

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...
10834,FAMILY,4.0,7,2.6M,500+,Free,0,Everyone,Education,"June 18, 2017",1.0.0,4.1 and up
10836,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10839,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [131]:
d['Size'] = d['Size'].str.replace('M','')
d['Size'] = d['Size'].str.replace('Varies with device','')
d

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,ART_AND_DESIGN,4.1,159,19,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,ART_AND_DESIGN,3.9,967,14,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,ART_AND_DESIGN,4.7,87510,8.7,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,ART_AND_DESIGN,4.5,215644,25,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,ART_AND_DESIGN,4.3,967,2.8,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...
10834,FAMILY,4.0,7,2.6,500+,Free,0,Everyone,Education,"June 18, 2017",1.0.0,4.1 and up
10836,FAMILY,4.5,38,53,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,FAMILY,5.0,4,3.6,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10839,BOOKS_AND_REFERENCE,4.5,114,,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,LIFESTYLE,4.5,398307,19,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [132]:
d['Installs'] = d['Installs'].str.replace('+','')
d['Installs'] = d['Installs'].str.replace(',','')
d

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,ART_AND_DESIGN,4.1,159,19,10000,Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,ART_AND_DESIGN,3.9,967,14,500000,Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,ART_AND_DESIGN,4.7,87510,8.7,5000000,Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,ART_AND_DESIGN,4.5,215644,25,50000000,Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,ART_AND_DESIGN,4.3,967,2.8,100000,Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...
10834,FAMILY,4.0,7,2.6,500,Free,0,Everyone,Education,"June 18, 2017",1.0.0,4.1 and up
10836,FAMILY,4.5,38,53,5000,Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,FAMILY,5.0,4,3.6,100,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10839,BOOKS_AND_REFERENCE,4.5,114,,1000,Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,LIFESTYLE,4.5,398307,19,10000000,Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [133]:
import datetime as dt
pd.to_datetime( d['Last Updated']).min()
d['Last Updated'] = pd.to_datetime( d['Last Updated']) - dt.datetime(2010,5,21)
d['Last Updated'] = d['Last Updated'].dt.days
d

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,ART_AND_DESIGN,4.1,159,19,10000,Free,0,Everyone,Art & Design,2788,1.0.0,4.0.3 and up
1,ART_AND_DESIGN,3.9,967,14,500000,Free,0,Everyone,Art & Design;Pretend Play,2796,2.0.0,4.0.3 and up
2,ART_AND_DESIGN,4.7,87510,8.7,5000000,Free,0,Everyone,Art & Design,2994,1.2.4,4.0.3 and up
3,ART_AND_DESIGN,4.5,215644,25,50000000,Free,0,Teen,Art & Design,2940,Varies with device,4.2 and up
4,ART_AND_DESIGN,4.3,967,2.8,100000,Free,0,Everyone,Art & Design;Creativity,2952,1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...
10834,FAMILY,4.0,7,2.6,500,Free,0,Everyone,Education,2585,1.0.0,4.1 and up
10836,FAMILY,4.5,38,53,5000,Free,0,Everyone,Education,2622,1.48,4.1 and up
10837,FAMILY,5.0,4,3.6,100,Free,0,Everyone,Education,2968,1.0,4.1 and up
10839,BOOKS_AND_REFERENCE,4.5,114,,1000,Free,0,Mature 17+,Books & Reference,1704,Varies with device,Varies with device
10840,LIFESTYLE,4.5,398307,19,10000000,Free,0,Everyone,Lifestyle,2987,Varies with device,Varies with device

In [134]:
d['Last Updated']

0        2788
1        2796
2        2994
3        2940
4        2952
         ...
10834    2585
10836    2622
10837    2968
10839    1704
10840    2987
Name: Last Updated, Length: 9360, dtype: int64

1. Categorical: Category,Type,Content Rating,Genres,Current Ver
2. Ordinal: Andriod Ver
3. Interval: Last Updated
4. Ratio: Rating,Reviews,Size,Installs,Price

In [135]:
#Transforming Ratio Attribute
dfNew = d[['Rating', 'Reviews', 'Size', 'Installs', 'Price']]
dfNew

       Rating Reviews Size  Installs Price
0         4.1     159   19     10000     0
1         3.9     967   14    500000     0
2         4.7   87510  8.7   5000000     0
3         4.5  215644   25  50000000     0
4         4.3     967  2.8    100000     0
...       ...     ...  ...       ...   ...
10834     4.0       7  2.6       500     0
10836     4.5      38   53      5000     0
10837     5.0       4  3.6       100     0
10839     4.5     114           1000     0
10840     4.5  398307   19  10000000     0

[9360 rows x 5 columns]

In [136]:
#Transforming categorical attributes
#Categorical: Category,Type,Content Rating,Genres,Current Ver

cate = ['Category','Type','Content Rating','Genres','Current Ver']
for c in cate:
    x = pd.get_dummies(d[c], dtype=int)
    dfNew = pd.concat([dfNew,x], axis=1)
dfNew

,Rating,Reviews,Size,Installs,Price,ART_AND_DESIGN,AUTO_AND_VEHICLES,BEAUTY,BOOKS_AND_REFERENCE,BUSINESS,...,v5.4.3,v6.1,v6.7.14,v67_slk3.0_20180115_01,v7.0.02.3.0516.1_06_0713,v7.0.7.1.0625.1_06_0629,v7.0.9.1.0526.1_06_0704,v8.0.1.8.0629.1,v8[1.0.10],version 0.994
0,4.1,159,19,10000,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,3.9,967,14,500000,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,4.7,87510,8.7,5000000,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4.5,215644,25,50000000,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4.3,967,2.8,100000,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10834,4.0,7,2.6,500,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10836,4.5,38,53,5000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10837,5.0,4,3.6,100,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10839,4.5,114,,1000,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
10840,4.5,398307,19,10000000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [137]:
sorted(d['Android Ver'].unique().tolist())

['1.0 and up',
 '1.5 and up',
 '1.6 and up',
 '2.0 and up',
 '2.0.1 and up',
 '2.1 and up',
 '2.2 and up',
 '2.3 and up',
 '2.3.3 and up',
 '3.0 and up',
 '3.1 and up',
 '3.2 and up',
 '4.0 and up',
 '4.0.3 - 7.1.1',
 '4.0.3 and up',
 '4.1 - 7.1.1',
 '4.1 and up',
 '4.2 and up',
 '4.3 and up',
 '4.4 and up',
 '4.4W and up',
 '5.0 - 6.0',
 '5.0 - 8.0',
 '5.0 and up',
 '5.1 and up',
 '6.0 and up',
 '7.0 - 7.1.1',
 '7.0 and up',
 '7.1 and up',
 '8.0 and up',
 'Varies with device']

In [138]:
versionDict = {
    '1.0 and up': 1,
    '1.5 and up': 2,
    '1.6 and up': 3,
    '2.0 and up': 4,
    '2.0.1 and up': 5,
    '2.1 and up': 6,
    '2.2 and up': 7,
    '2.3 and up': 8,
    '2.3.3 and up': 9,
    '3.0 and up': 10,
    '3.1 and up': 11,
    '3.2 and up': 12,
    '4.0 and up': 13,
    '4.0.3 - 7.1.1': 14,
    '4.0.3 and up': 15,
    '4.1 - 7.1.1': 16,
    '4.1 and up': 17,
    '4.2 and up': 18,
    '4.3 and up': 19,
    '4.4 and up': 20,
    '4.4W and up': 21,
    '5.0 - 6.0': 22,
    '5.0 - 8.0': 23,
    '5.0 and up': 24,
    '5.1 and up': 25,
    '6.0 and up': 26,
    '7.0 - 7.1.1': 27,
    '7.0 and up': 28,
    '7.1 and up': 29,
    '8.0 and up': 30,
    'Varies with device': 0
}

dfNew['Android Ver'] = d['Android Ver'].map(versionDict)
dfNew['Last Updated'] = d['Last Updated']
dfNew

,Rating,Reviews,Size,Installs,Price,ART_AND_DESIGN,AUTO_AND_VEHICLES,BEAUTY,BOOKS_AND_REFERENCE,BUSINESS,...,v6.7.14,v67_slk3.0_20180115_01,v7.0.02.3.0516.1_06_0713,v7.0.7.1.0625.1_06_0629,v7.0.9.1.0526.1_06_0704,v8.0.1.8.0629.1,v8[1.0.10],version 0.994,Android Ver,Last Updated
0,4.1,159,19,10000,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,15,2788
1,3.9,967,14,500000,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,15,2796
2,4.7,87510,8.7,5000000,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,15,2994
3,4.5,215644,25,50000000,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,18,2940
4,4.3,967,2.8,100000,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,20,2952
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10834,4.0,7,2.6,500,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,17,2585
10836,4.5,38,53,5000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,17,2622
10837,5.0,4,3.6,100,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,17,2968
10839,4.5,114,,1000,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1704
10840,4.5,398307,19,10000000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2987